---
import Layout from '../../layouts/Layout.astro';
import { marcas } from '../../lib/data';

export function getStaticPaths() {
  // Generar las rutas basadas en las marcas
  return marcas.map((marca) => ({
    params: {
      marca: marca.marca,
    },
  }));
}

const { marca } = Astro.params;
// Encuentra la marca que coincide con el parámetro
const miMarca = marcas.find((miMarca) => miMarca.marca === marca);
---

<Layout title={`Producto ${miMarca?.marca}`}>
  <div class="w-full h-screen flex flex-col justify-center items-center gap-10">
    <h2 class="text-center text-3xl font-bold mb-6 text-zinc-200">{miMarca.marca}</h2>
    <div class="w-1/2 bg-slate-600 mx-auto flex justify-around">
      {miMarca?.productos.map((miProducto, index) => (
        <div key?={index} class="bg-slate-950 text-zinc-200 text-lg p-4">
          <h3>{miProducto.producto}</h3>
          <img0
            src={`${miProducto.sabores[0].imagenes}`}
            alt={`Foto del producto ${miProducto.producto}`}
            class="w-full h-auto mb-4"
          />
          <p class="text-zinc-300 text-base">
            {miProducto.descripcion}
          </p>
          <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
				<span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
				Botonazo
				</span>
				</button>
          <a
            href={`/marcas/${marca}/${miProducto.producto}`}
            class="py-3 w-full bg-pink-600 text-zinc-300 text-lg block text-center mt-4"
          >
            Ver {miProducto.producto}
          </a>
        </div>
      ))}
    </div>  
  </div>
</Layout>
