---

// Obtener el parámetro dinámico "id" desde la URL

import Layout from '../../layouts/Layout.astro'
import {productos} from '../../lib/data'

// GetStaticPath
export function getStaticPaths(){
    return productos.map((producto) => ({
        params:{
            id: producto.id,
        },
    }))
}

const { id } = Astro.params;

const producto = productos.find(producto => producto.id === id)
console.log(producto)

// Puedes usar `id` para buscar datos, renderizar contenido específico, etc.
---


<Layout title=`Producto ${producto?.titulo}`>
    <section class="w-full h-screen flex justify-center items-center gap-10">
        <div class="flex justify-center items-start flex-col">
            <h1 class="text-2xl text-white font-bold">Producto ID: {producto?.id}</h1>
            <h2 class="text-white text-lg">Producto: {producto?.titulo}</h2>
            <p class="text-white text-base">{producto?.descripcion}</p>
        </div>
        <figure class="w-80">
            <img class="object-cover rounded-2xl shadow-lg shadow-slate-700" loading="lazy" src={producto?.imagenes[0]} alt=`Imagen de ${producto?.imagenes[0]}`>
            <div class="w-40 m-auto flex justify-center gap-10 mt-10">
                {
                    producto?.imagenes.map((imagen, index) => (
                    <img key?={index} src={imagen} alt={`Imagen de ${producto.titulo} ${index + 1}`} class="w-20 h-20 object-cover rounded" />
                    ))
                }
            </div>
        </figure>
    </section>
</Layout>

