---


const mango = "https://suplementosalmayor.cl/wp-content/uploads/2023/04/QHUSH-RR1-IMG-OPT_2000x.webp"

---
<div class="swiper mySwiper mt-72">
  <div class="swiper-wrapper selector">
    <div style=`background-image: url('${mango}'); `class="img-cont2 swiper-slide">
      <img
        class="object-contain"
        src="https://suplementosalmayor.cl/wp-content/uploads/2023/04/QHUSH-RR1-IMG-OPT_2000x.webp"
        alt="lorem"
      />
    </div>
    <div style=`background-image: url('${mango}'); `class="img-cont2 swiper-slide">
      <img
        class="object-contain"
        src="https://suplementosalmayor.cl/wp-content/uploads/2023/04/QHUSH-RR1-IMG-OPT_2000x.webp"
        alt="lorem"
      />
    </div>
    <div style=`background-image: url('${mango}'); `class="img-cont2 swiper-slide">
      <img
        class="object-contain"
        src="https://suplementosalmayor.cl/wp-content/uploads/2023/04/QHUSH-RR1-IMG-OPT_2000x.webp"
        alt="lorem"
      />
    </div>
    <div style=`background-image: url('${mango}'); `class="img-cont2 swiper-slide">
      <a href="./productos/1">
        <img
          class="object-contain"
          src="https://suplementosalmayor.cl/wp-content/uploads/2023/04/QHUSH-RR1-IMG-OPT_2000x.webp"
          alt="lorem"
        />
      </a>
    </div>
    <div style=`background-image: url('${mango}'); `class="img-cont2 swiper-slide">
      <img
        class="object-contain"
        src="https://suplementosalmayor.cl/wp-content/uploads/2023/04/QHUSH-RR1-IMG-OPT_2000x.webp"
        alt="lorem"
      />
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>


<style>

.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-cont2 {
  background-size: cover;
  position: relative;
  width: 100%;
  height: auto;
}

.img-cont2 img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 640px) {
  .swiper-slide-active {
    transform: scale(1.2);
  }
  .swiper-slide:not(.swiper-slide-active) {
    transform: scale(0.9);
  }
}


/* .swiper-slide {
    transition: transform 0.3s ease, filter 0.3s ease;
  }

  .swiper-slide-active {
    transform: scale(1.5);
    filter: brightness(1.2) saturate(1.5);
  }

  .swiper-slide:not(.swiper-slide-active) {
    transform: scale(0.8);
  }

  .img-cont2 {
    background-size: cover;
    position: relative;
  }

  .img-cont2::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    transition: 0.2s;
  }

  .img-cont2:hover::after,
  .img-cont2:active::after {
    filter: blur(15px) saturate(400%);
  }
  .swiper {
    width: 100%;
  } */

  .swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-cont2 {
  background-size: cover;
  position: relative;
  width: 100%;
  height: auto;
}

.img-cont2 img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 640px) {
  .swiper-slide-active {
    transform: scale(1.2);
  }
  .swiper-slide:not(.swiper-slide-active) {
    transform: scale(0.9);
  }
}


</style>

<script>
  import Swiper from "swiper";
  import "swiper/css";
  import { Navigation, Pagination } from "swiper/modules";
  import "swiper/css/navigation";
  import "swiper/css/pagination";

  var swiper = new Swiper(".mySwiper", {
    modules: [Navigation, Pagination],
    slidesPerView: 3,
    spaceBetween: 30,
    centeredSlides: true,
    loop: true,
    navigation: {
      prevEl: ".swiper-button-prev",
      nextEl: ".swiper-button-next",
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    breakpoints: {
      410: {
        slidesPerView: 1,
        spaceBetween: 5,
      },
      // Cuando la pantalla sea de 640px o m치s
      640: {
        slidesPerView: 1,
        spaceBetween: 10,
      },
      // Cuando la pantalla sea de 768px o m치s
      768: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      // Cuando la pantalla sea de 1024px o m치s
      1024: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
    },
    on: {
      slideChangeTransitionStart: function () {
        this.slides.forEach((slide) => {
          slide.classList.remove("swiper-slide-active");
        });
        this.slides[this.activeIndex].classList.add("swiper-slide-active");
      },
    },
  });
</script>

<!-- <script>
  // Core de Swiper y estilos
  import Swiper from "swiper";
  import "swiper/css";

  // M칩dulo Navigation de Swiper y estilos
  import { Navigation, Pagination } from "swiper/modules";
  import "swiper/css/navigation";
  import "swiper/css/pagination";

  var swiper = new Swiper(".mySwiper", {
    modules: [Navigation, Pagination],
    slidesPerView: 3,
    spaceBetween: 30,
    centeredSlides: true,
    loop: true,
    navigation: {
      prevEl: ".swiper-button-prev",
      nextEl: ".swiper-button-next",
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    on: {
      slideChangeTransitionStart: function () {
        this.slides.forEach((slide) => {
          slide.classList.remove("swiper-slide-active");
        });
        this.slides[this.activeIndex].classList.add("swiper-slide-active");
      },
    },
  });
</script> -->
