---
import Layout from '../../../../layouts/Layout.astro';
import { productos } from '../../../../lib/data';

export function getStaticPaths() {
  const paths = [];
  productos.forEach((producto) => {
    producto.imagenes.forEach((_, index) => {
      paths.push({
        params: {
          id: producto.id,
          index: index.toString(),
        },
      });
    });
  });
  return paths;
}

const { id, index } = Astro.params;
const producto = productos.find((producto) => producto.id === id);
const imagenSeleccionada = producto?.imagenes[parseInt(index)];
---

<Layout title={`Producto ${producto?.titulo}`}>
  <section class="w-full h-screen flex justify-center items-center gap-10">
    <div class="flex justify-center items-start flex-col">
      <h1 class="text-2xl text-white font-bold">Producto ID: {producto?.id}</h1>
      <h2 class="text-white text-lg">Producto: {producto?.titulo}</h2>
      <p class="text-white text-base">{producto?.descripcion}</p>
    </div>
    <figure class="w-80">
      <img
        class="object-cover rounded-2xl shadow-lg shadow-slate-700 border-4 border-white"
        loading="lazy"
        src={imagenSeleccionada}
        alt={`Imagen de ${imagenSeleccionada}`}
      />
      <div class="w-40 m-auto flex justify-center gap-10 mt-10">
        {producto?.imagenes.map((imagen, index) => (
          <a href={`/productos/${id}/imagen/${index}`} key?={index}>
            <img
              src={imagen}
              alt={`Imagen de ${producto.titulo} ${index + 1}`}
              class={`w-20 h-20 object-cover rounded ${
                index === index ? 'border-4 border-white' : ''
              }`}
            />
          </a>
        ))}
      </div>
    </figure>
  </section>
</Layout>
